@{
    ViewData["Title"] = "Privacy Policy";
}


<head>
  <title>Корзина</title>
  <link rel="stylesheet" type="text/css" href="css.css">
   <style>
        
       .superBody{
           margin-top: 150px !important;
       }
       
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f9f9f9;
        }

        td > img {
            max-width: 50px;
            max-height: 50px;
            vertical-align: middle;
        }
        .cartBot{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
        }
        .total-price {
            font-weight: bold;
        }
         .order-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .order-btn:hover {
            background-color: #45a049;
        }

    </style>
</head>
<div class="superBody">
  <div class="container">
  <h1>Корзина</h1>

    <table>
        <thead>
            <tr>
                <th>Фото</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Общая цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="path/to/image.jpg" alt="Фото продукта"></td>
                <td>Продукт 1</td>
                <td>100</td>
                <td>2</td>
                <td>200</td>
            </tr>
            <tr>
                <td><img src="path/to/image.jpg" alt="Фото продукта"></td>
                <td>Продукт 2</td>
                <td>150</td>
                <td>1</td>
                <td>150</td>
            </tr>
        </tbody>
    </table>

    <div class="cartBot">

        <div class="total-price">
            Общая цена: 350
        </div>
        


        <a class="order-btn" href="#">Заказать</a>
    </div>

  </div>
</div>
