@{
    ViewData["Title"] = "Home Page";
}

<section class="home" id="home">
        <div class="content">
        <h3 id='Welcome'>Welcome</h3>
        <p id='Welcome2'> to our food ordering website! Here you can browse a wide selection of delicious dishes and place your order with ease. Our user-friendly platform makes it simple to customize your meal and choose from a variety of payment options </p>
        <a id="order" href="#" class="btn">order now</a>
        </div>
    </section>
    <section class="menu" id="menu">
        <h1 id="our" class="heading">our menu</h1>
        <div class="box-container">
            <div class="box">

                <div class="box-head">
                    <img src="~/images/pngwing.com.png" alt="">
                    <span id="Pizza" class="menu-category"></span>
                    <h3 id=" Mini_Pizzas"></h3>
                    <div class="price">$<span>$</span></div>
                </div>
                <div class="box-bottom">
                    <a asp-area="" asp-controller="Home" asp-action="AddToCart" class="btn">add to cart</a>
                </div>
            </div>
            <div class="box">

                <div class="box-head">
                    <img src="~/images/pngwing.com(2).png" alt="">
                    <span id="Burgerrrrr" class="menu-category">Burger</span>
                    <h3 id="Mini_Burger">5 Mini Burgers</h3>
                    <div class="price">$99.99 <span>$105.99</span></div>
                </div>
                <div class="box-bottom">
                    <a asp-area="" asp-controller="Home" asp-action="AddToCart" class="btn">add to cart</a>
                </div>
            </div>
            <div class="box">

                <div class="box-head">
                    <img src="~/images/pngwing.com(1).png" alt="">
                    <span id="Pizza2" class="menu-category">Pizza</span>
                    <h3 id="MIX_Pizza">2 Mixed Pizzas</h3>
                    <div class="price">$49.99 <span>$59.99</span></div>
                </div>

                <div class="box-bottom">
                    <a asp-area="" asp-controller="Home" asp-action="AddToCart" class="btn">add to cart</a>
                </div>
            </div>
            <div class="box">

                <div class="box-head">
                    <img src="~/images/pngwing.com(3).png" alt="">
                    <span id="Burgerrrrr2" class="menu-category">Burger</span>
                    <h3 id="Meatball_Burgers" >3 Meatball Burgers</h3>
                    <div class="price">$79.99 <span>$99.99</span></div>
                </div>
                <div class="box-bottom">
                    <a asp-area="" asp-controller="Home" asp-action="AddToCart" class="btn">add to cart</a>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section class="products" id="products">
        <h1 id=" our_products" class="heading">our products </h1>
        <div class="box-container">
            <div class="box">
                <div class="box-head">
                    <span id="Mini_Burger2" class="title">mini burger</span>
                    <a id="Bacon_Burger" href="#" class="name">Bacon Burger</a>
                </div>
                <div class="image">
                    <img src="~/images/pngwing.com (6).png" alt="">
                </div>
                <div class="box-bottom">
                    <div class="info">
                        <b class="price">$6.00</b>
                        <span class="amount">110gr / 300 Cal</span>
                    </div>
                    <div class="product-btn">
                        <a href="#">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-head">
                    <span id="cheese_burger" class="title">cheese burger</span>
                    <a   id="cheese_burger"  href="#" class="name">cheese Burger</a>
                </div>
                <div class="image">
                    <img src="~/images/pngwing.com (4).png" alt="">
                </div>
                <div class="box-bottom">
                    <div class="info">
                        <b class="price">$12.00</b>
                        <span class="amount">140gr / 2500 Cal</span>
                    </div>
                    <div class="product-btn">
                        <a href="#">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-head">
                    <span id="Double_burger"class="title">Double burger</span>
                    <a id="Double_burger" href="#" class="name">Double Burger</a>
                </div>
                <div class="image">
                    <img src="~/images/pngwing.com (5).png" alt="">
                </div>
                <div class="box-bottom">
                    <div class="info">
                        <b class="price">$24.00</b>
                        <span class="amount">440gr / 600 Cal</span>
                    </div>
                    <div class="product-btn">
                        <a href="#">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->



    <section class="about" id="about">
        <h1 class="heading">about <span>us</span> </h1>

        <div class="row">
            <div class="image">
                <img src="~/images/pngwing.com (7).png" alt="">
            </div>
            <div class="content">
                <h3>What is the secret receipe of our burgers</h3>
                <div class="paragraph">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia officia id et, corrupti assumenda.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia officia id et, corrupti assumenda.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia officia id et, corrupti assumenda.</p>
                </div>
                    <a href="#" class="btn">Learn More</a>
            </div>
        </div>
    </section>
    <section class="review" id="review">
        <h1 class="heading">customer's <span>review</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="~/images/pngwing.com (8).png" alt="quote">
                <p> Dicta totam suscipit vero praesentium excepturi facilis, fuga at architecto dolor tempora molestias quam dignissimos sit. Molestiae temporibus ratione quas placeat possimus!</p>
                <img src="~/images/pngwing.com (9).png" alt="customer-avatar" class="user">
                <h3>Patrick Hellinger</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="box">
                <img src="~/images/pngwing.com (8).png" alt="quote">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga at architecto dolor tempora molestias quam dignissimos sit. Molestiae temporibus ratione quas placeat possimus!</p>
                <img src="~/images/pngwing.com (10).png" alt="customer-avatar" class="user">
                <h3>Serena Williams</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="box">
                <img src="~/images/pngwing.com (8).png" alt="quote">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta totam suscipit vero praesentium excepturi facilis, fuga at architecto dolor tempora molestias quam dignissimos possimus!</p>
                <img src="~/images/pngwing.com (11).png" alt="customer-avatar" class="user">
                <h3>Helen Marksen</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>
    </section> 
    <section class="contact" id="contact">
        <h1 class="heading">contact <span>us</span> </h1>
        <div class="row">
            <iframe class="map"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1250.622713006621!2d71.41501929839477!3d51.1776993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245872cf57a5a1f%3A0x7e1babc14a321933!2z0JLRi9GB0YjQuNC5INC60L7Qu9C70LXQtNC2ICJBc3RhbmEgUG9seXRlY2huaWMiINCz0L7RgNC-0LTQsCDQndGD0YAt0KHRg9C70YLQsNC9!5e0!3m2!1sru!2skz!4v1683017357604!5m2!1sru!2skz" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <form method="post" asp-controller="HomeController" asp-action="Mailer">
                <h3>get in touch</h3>
                <div class="inputBox">
                    <i class="fas fa-user"></i>
                    <input type="text" name="name" placeholder="name">
                </div>
                <div class="inputBox">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" placeholder="email">
                </div>
                <div class="inputBox">
                    <i class="fas fa-phone"></i>
                    <input type="number" name="phone" placeholder="number">
                </div>
                <input type="submit" class="btn" value="contact now">
            </form>
        </div>
    </section>
    <section class="blog" id="blog">
        <h1 class="heading">our <span>blog</span> </h1>
        <div class="box-container">
            <div class="box-full">
                <div class="image">
                    <img src="~/images/delicious-burger-on-wooden-board-2022-03-04-05-58-25-utc.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">how to make burgers</a>
                    <span>by admin / 10st may, 2020</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eos esse nesciunt cupiditate expedita.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>
            <div class="box-full">
                <div class="image">
                    <img src="~/images/delicious-tasty-burgers-on-wooden-background-2021-08-26-15-25-13-utc.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">how to make burgers</a>
                    <span>by admin / 10st may, 2020</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eos esse nesciunt cupiditate expedita.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>
            <div class="box-full">
                <div class="image">
                    <img src="~/images/handmade-burger-on-dark-background-delicious-blac-2021-10-21-02-27-27-utc.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="title">how to make burgers</a>
                    <span>by admin / 10st may, 2020</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eos esse nesciunt cupiditate expedita.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>
        </div>
    </section>
