@model SliceDelivery.Domain.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<head>
    <title>Страница входа</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #F0B559;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: 100px auto;
            margin-bottom: 200px;
            padding: 60px;
            min-height: 369px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 15px 10px;
            border-radius: 5px;
            height: 40px;
            border: 1px solid #ccc;
            font-size: 14px;
        }
       
        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #252525;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #F0B559;
            }
            .btn-success{
                width: 100%;
                margin: 0;
            }
             ul, li{
            font-size: 12px;
            text-align: left;
            margin-left: 5px;
        }
        /* Анимация */

       

    </style>

</head>
<body>
    <div class="container">
        <h2>Вход</h2>
        <form autocomplete="on" method="post" asp-controller="Home" asp-action="Login">
            <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
            <div class="form-group">
                <input asp-for="Name" placeholder="Логин" class="form-control textbox-dg font-weight-bold text-center" type="text">
                <div class="form-text">Длина логина должна быть от 3 до 20 символов.</div>
            </div>
            <div class="form-group">
                <input autocomplete="new-password" asp-for="Password" placeholder="Пароль" class="form-control textbox-dg font-weight-bold text-center" type="password">
            </div>
            <div class="d-grid gap-2 d-md-block">
                <a asp-controller="Home" asp-action="Register" class="btn btn-primary" type="button">Регистрация</a>
                <button class="btn btn-success">Отправить</button>
            </div>
        </form>
    </div>
    <script src="script.js"></script>
</body>