@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="style.css">
  <title>Страница регистрации</title>

</head>
<body>
  <div class="container">
    <h2>Регистрация</h2>
    <a class="entrance" href="./entrance.html">Войти</a>
    <form id="registration-form">
      <div class="input-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" required>
      </div>
      <div class="input-group">
        <label for="email">Email:</label>
        <input type="email" id="email" required>
      </div>
      <div class="input-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" required>
      </div>
      <button type="submit" class="btn">Зарегистрироваться</button>
    </form>
  </div>

  <script>
    // Обработчик отправки формы
    document.getElementById('registration-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Отменить отправку формы

      // Добавьте здесь свой код для обработки данных формы, например, отправку через AJAX
      // Здесь вы можете получить значения полей формы, используя document.getElementById().value
    });
  </script>
</body>